doctype html
html
  head
    title README

    // build:css(.tmp) styles/pricegrabber.css
    link(rel="stylesheet", href="styles/pricegrabber.css")
    // endbuild

    // build:css(.) styles/bootstrap.css
    // bower:css
    link(rel="stylesheet", href="bower_components/bootstrap/dist/css/bootstrap.css")
    // endbower
    // endbuild

    // build:js(.) scripts/jquery.min.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.min.js')
    // endbower
    // endbuild

    // build:js(.) scripts/mustache.min.js
    // bower:js
    script(src='bower_components/mustache/mustache.js')
    // endbower
    // endbuild


    // build:js(.tmp) scripts/pricegrabber.js
    script(src='scripts/pricegrabber.js')
    // endbuild

  body

    .container
      h1 Installation

      p Add the following libraries before &lt;/head> tag.

      .highlight
        pre
          | &lt;link rel="stylesheet" href="bootstrap.css" />
          | &lt;link rel="stylesheet" href="pricegrabber.css" />
          | &nbsp;
          | &lt;script type="text/javascript" src="jquery-mustache.js" >&lt;/script>
          | &lt;script type="text/javascript" src="pricegrabber.js" >&lt;/script>

      hr
      p Add the following inside &lt;body> tag. By inserting the script below on any location of html doc. It will generate a list of products.
      .highlight
        pre
          | &lt;script type="text/javascript" class="pricegrabber panel panel-default" id="pg-dcc-2000">
          |   $('#pg-dcc-2000').PriceGrabber({
          |     search: 'Cuisinart DCC-2000 Coffee Maker' // search keywords
          |   });
          | &lt;/script>

      hr
      hr
      h2 Sample HTML
      .highlight
        pre
          | &lt;!DOCTYPE html>
          | &lt;html>
          |   &lt;head>
          |     &lt;meta http-equiv="content-type" content="text/html; charset=utf-8">
          |     &nbsp;
          |     &lt;link rel="stylesheet" href="styles/bootstrap.css"/>
          |     &lt;link rel="stylesheet" href="styles/pricegrabber.css"/>
          |     &nbsp;
          |     &lt;script src="scripts/jquery-mustach.js">&lt;/script>
          |     &lt;script src="scripts/pricegrabber.js">&lt;/script>
          |   &lt;/head>
          |     &nbsp;
          |   &lt;body>
          |     &nbsp;
          |     &lt;div class="container">
          |       &lt;script type="text/javascript" class="pricegrabber panel panel-default col-xs-6" id="result-1">
          |         $('#result-1').PriceGrabber({
          |           search: 'Cuisinart DCC 2650'
          |         });
          |       &lt;/script>
          |     &nbsp;
          |     &lt;/div>
          |     &nbsp;
          |   &lt;/body>
          | &lt;/html>

      h2 Output

      script.pricegrabber.panel.panel-default.col-xs-6(type='text/javascript')
        :coffee-script
          window.onload = ->
            $('.pricegrabber').PriceGrabber
              search: 'Cuisinart DCC 2650&topcat_id=27&page_id=524'

